a {
    font-size: 12px;
}

.nav-link {
    cursor: pointer;
}

li {
    float: right;
}

img {
    height: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.iyi-title {
    color: #ea868f;
    margin-right: 30px;
    border: #ea868f;
    border-style: outset;
    border-radius: 50px;
    padding: 7px;
}

.iyi-action {
    cursor: pointer;
}