<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <div *ngIf="router.url == '/employees'">
            <a class="navbar-brand iyi-title">Employees</a>
            <a class="navbar-brand iyi-action" (click)="openImportEmployeeDialog()"><img src="/assets/upload.svg" alt="upload">Import Data</a>
            <a class="navbar-brand iyi-action" href="{{downloadUrl}}"><img src="/assets/download.svg" alt="download">Export Data</a>
            <a class="navbar-brand iyi-action" (click)="openAddEmployeeDialog()"><img src="/assets/person_add.svg" alt="person_add">Add Data</a>
        </div>
        <div *ngIf="router.url == '/dashboard'">
            <a class="navbar-brand iyi-title">Dashboard</a>
        </div>
        <div class="d-flex">
            <a class="nav-link" (click)="logout()"><img src="/assets/logout.svg" alt="logout">Logout</a>
        </div>
    </div>
</nav>