<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel"
    data-bs-scroll="true">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="offcanvasLabel"><img class="app-logo" src="/assets/logo.png" alt="logo">İyi misin?</h6>
    </div>
    <hr>
    <div class="offcanvas-body">
        <div class="list-group">
            <a href="/dashboard" class="list-group-item list-group-item-action"><img src="/assets/dashboard.svg" alt="dashboard">Dashboard</a>
            <a href="/employees" class="list-group-item list-group-item-action"><img src="/assets/employee.svg" alt="employee">Employees</a>
            <a href="/incoming-sms" class="list-group-item list-group-item-action"><img src="/assets/incoming.svg" alt="incoming">Incoming SMS List</a>
            <a href="/outgoing-sms" class="list-group-item list-group-item-action"><img src="/assets/outgoing.svg" alt="outgoing">Outgoing SMS List</a>
            <a href="/send-sms" class="list-group-item list-group-item-action"><img src="/assets/send.svg" alt="send">Send SMS</a>
        </div>
    </div>
</div>