<h1 mat-dialog-title>Add Employee</h1>
<div mat-dialog-content>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="data.name">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="Surname" [(ngModel)]="data.surname">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="MSISDN" [(ngModel)]="data.msisdn">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="City" [(ngModel)]="data.city">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="District" [(ngModel)]="data.district">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="Address" [(ngModel)]="data.address">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="Emergency Contact Name" [(ngModel)]="data.emergency_contact_name">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="Emergency Contact Surname" [(ngModel)]="data.emergency_contact_surname">
    </div>
    <div class="input-group mb-1 mt-1">
        <input type="text" class="form-control" placeholder="Emergency Contact MSISDN" [(ngModel)]="data.emergency_contact_msisdn">
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="submit()">Submit</button>
</div>